# Environments
.env

# Google API Secrets
client_secrets.json
token.pickle
client_secrets.json.json

# Media
final_videos/
thumbnails/
temp_*.mp4
dummy_videos/
longform_videos/

# Logs
logs/
monthly_summary_log.txt

# Data
status_log.json

# Python
__pycache__/
*.py[cod]
*$py.class
