.env
client_secrets.json
token.pickle

__pycache__/
*.pyc
*.py[cod]
*$py.class

final_videos/
thumbnails/
temp_*.mp4
dummy_videos/
longform_videos/

logs/
monthly_summary_log.txt

status_log.json
animals.json
animal_names.json
ended_animals.json
metadata.json
prompts.json
replied_comments.json
videos.json
youtube_urls.json
